<footer class="site-footer">
  <span class="footer-l">
    <span class="footer-l-full">
      <span class="logo-lab">Lab</span><span class="logo-notes">Notes</span>
      &nbsp;— {% if site.issn %}ISSN {{ site.issn }} — {% endif %}CC BY 4.0 © {{ site.time | date: "%Y" }}
    </span>
    <span class="footer-l-short">
      <span class="logo-lab">Lab</span><span class="logo-notes">Notes</span>
      &nbsp;— MetaLab · CC BY 4.0
    </span>
  </span>
  <span class="footer-r">Support free &amp; open scholarship.</span>
</footer>
