<header class="mx-4 lg:mx-8 py-6">
  <div class="flex items-center justify-between gap-6">
    <!-- Brand -->
    <a href="{{ "/" | relative_url }}" class="flex items-center gap-3">
      <span class="text-xl font-bold text-gray-900">Lab Notes Journal</span>
    </a>

    <!-- Nav -->
    <nav class="flex items-center gap-4 text-base font-medium">
      {% for menuItem in site.data.navbar %}
        {% assign href = menuItem.path | relative_url %}

        {% if page.url == menuItem.path %}
          {% assign classes = "text-sky-700" %}
        {% else %}
          {% assign classes = "text-gray-800 hover:text-sky-700" %}
        {% endif %}

        <a href="{{ href }}" class="{{ classes }}">
          {{ menuItem.name }}
        </a>
      {% endfor %}
    </nav>
  </div>
</header>
