<header class="masthead">
  <div class="m-logo">
    <a href="{{ '/' | relative_url }}"><span class="logo-lab">Lab</span><span class="logo-notes">Notes</span></a><span class="m-tagline-dash">&mdash;</span><a href="{{ '/' | relative_url }}" class="m-tagline">A peer-reviewed journal on research design and method</a>
  </div>
  <div class="m-nav">
    <a href="{{ '/about/' | relative_url }}">about</a>
    <a href="{{ '/about/#submission-guidelines' | relative_url }}">submissions</a>
  </div>
</header>
